/* 기본 스타일 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* 화면 크기에 따른 조정 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
